.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: lightgray;
}

@media (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 10px;
    background-color: chartreuse;
  }
}
